{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block body %}

    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>Add New Post</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="alert alert-info" role="alert" style="margin-top: 10px;">
        <h4 class="alert-heading">Tip!</h4>
        <p class="alert-heading">Creating technology-related posts will make you stand out on our main page as one of the top 10 candidates, therefore increasing your chances of finding better job opportunities.</p>
    </div>    <!--/ bradcam_area  -->
    
    {% if messages %}
    
    {% for message in messages %}
    <p class="alert-heading">message</p>
        
    {% endfor %}
        
        
    {% else %}
        
    <div class="job_details_area class="container py-5">
        <div class="container">
            <div class="row" style="margin-left: 20% ;">
                <div class="col-lg-8" >
                    <div class="apply_job_form white-bg" style="background-color: rgba(51, 50, 50, 0.959);">
                        <h4 style="font-weight: bolder; size: 80%;">Create technical Post</h4>

                        
                        {% if messages %}

                        
                        {% for message in messages %}
                            <ul
                            
                            {% if message.tags %}
                                class="{{ message.tags }}"
                            {% endif %}
                                
                            >
                                <li>
                                    {{ message }}
                                </li>
                            </ul>
                        {% endfor %}
                            
                            
                        
                        {% else %}    
                        <form method="POST" enctype="multipart/form-data" style="background-color: rgba(0, 0, 0, 0.062); font-size: larger;">
                            {% csrf_token %}

                            {% bootstrap_form form %}
                        
                            <button class="boxed-btn3 w-100" type="submit">Post Now</button>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock body %}